@* UI Section *@

<h3>Product List</h3>
<h4>by Jessica Leach</h4>

@foreach(Product item in Products)
{
    <ProductView Products="item"></ProductView>
}

@* Code Section *@
@code 
{
    [EditorRequired]
    [Parameter]
    public List<Product> Products { get; set; } = ProductService.Products.ToList();
}
